<div>
    <table>
        <thead>
            <th>Name</th>
            <th *ngFor="let day of weekdays">{{day}}</th>
            <th>Total Hours</th>
            <th>Pay Rate</th>
            <th>Total Pay</th>
        </thead>
    
        <tbody>
            <tr *ngFor="let employee of employees; let i = index">
                <td>{{employee.name}}</td>
                <td *ngFor="let day of weekdays">{{employee[day]}}</td>
                <td class="total-cell">{{getTotalHours(employee)}}</td>
                <td>{{employee.payRate}}/hr</td>
                <td>{{employee.payRate * getTotalHours(employee)}}</td>
            </tr>
        </tbody>
    </table>
</div>
