<div class="main-container">
    <div class="cards">
        <h2 *ngIf="department">{{department.name}}</h2>

        <mat-card>
            <mat-form-field>
                <input matInput [formControl]="employeeNameFC" placeholder="Employee Name" type="text">
                <mat-error *ngIf="employeeNameFC.hasError('duplicate')">Duplicate Name</mat-error>
            </mat-form-field>

            <button mat-mini-fab color="primary" (click)="addEmployee()" [disabled]="employeeNameFC.invalid">
                <mat-icon>add</mat-icon>
            </button>

            <div>{{employees | json}}</div>
        </mat-card>
    </div>
</div>
