<div class="main-container">
    <div class="cards">
        <h2 *ngIf="department">{{department.name}}</h2>

        <mat-card>
            <mat-form-field>
                <input matInput [formControl]="employeeNameFC" placeholder="Employee Name" type="text">
                <mat-error *ngIf="employeeNameFC.hasError('duplicate')">Duplicate Name</mat-error>
            </mat-form-field>

            <button mat-mini-fab color="primary" (click)="addEmployee()" [disabled]="employeeNameFC.invalid">
                <mat-icon>add</mat-icon>
            </button>

        </mat-card>
        <mat-card class="hours">
            <table>
                <thead>
                    <th>Name</th>
                    <th *ngFor="let day of weekdays">{{day}}</th>
                    <th>Total Hours</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let i = index">
                        <td>{{employee.name}}</td>
                        <td *ngFor="let day of weekdays">
                            <input type="number" [id]="day" [(ngModel)]="employee[day]" class="hours-input">
                        </td>
                        <td class="total-cell">{{getTotalHours(employee)}}</td>
                        <td>
                            <button mat-icon-button (click)="deleteEmployee(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>
