.material-icons {
    font-size: 35px;
}

mat-icon {
    width: 35px;
    height: 35px;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 35px;
}

div {
    margin-left: 10px;
    cursor: pointer;
}